#land {
    margin: 0.2rem;
}

#landenLijst {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

#landenKeuze {
    width: 200px;
    height: 100%;
    
}

#vragen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    
}


#typeQuiz {
    width: 200px;
    display: flex;
    flex-direction: column;
}


#filters {
    display: flex;
    flex-direction: column;
    height: 13.5vh;
}

.vraag {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.antwoord {
    margin: 5px;
}

.controle {
    margin: 5px;
}

#landenLijst {
    overflow-y: scroll;
    height: 86.5vh;
}