#land {
    margin: 0.2rem;
}

#landenLijst {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

#landenKeuze {
    width: 200px;
    height: 100%;
    
}

#vragen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


#typeQuiz {
    width: 200px;
    display: flex;
    flex-direction: column;
}


#filters {
    display: flex;
    flex-direction: column;
}
